<section id="content">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row"  style="margin-left: 20px; margin-bottom: 20px;">
	<% if session[:user_id] %>
		<h3 style="font-size: 2em;" align="center">Отзывы</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Имя</th>
		      <th>Email</th>
		      <th>Сообщение</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @comments.each do |comment| %>
		      <tr>
			<td><%= comment.name %></td>
			<td><%= comment.email %></td>
			<td><%= comment.message %></td>
			<td><%= link_to 'Изменить', edit_comment_path(comment) %></td>
			<td><%= link_to 'Удалить', comment, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить эту запись?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
	      <div class="grid_7">
		<h3 style="font-size: 2em;" align="center">Отзывы</h3>
		<img src="<%= image_url 'comment.png' %>" alt="" class="img_inner fleft noresize">
		<% @comments.each do |comment| %>
			<time class="time-1"><%= comment.name %></time><br clear="all"><p class="offset__2" style="font-size: 1.5em;"><%= comment.message %></p>
			<br clear="all">

		<% end %>
		<% if @comments.count == 0 %>
			<time class="time-1">К сожалению, нам пока никто не написал отзыв. Вы можете стать первым ;)</time><br clear="all">
		<% end %>
		<%= will_paginate @comments %>
		<a href="<%= new_comment_path %>" class="btn"> Оставить отзыв</a>
	      </div>
	      <div class="grid_4" style="margin-top: 40px;"><img src="<%= image_url 'comments.png' %>" alt="" class="img_inner fleft noresize"></div>
	      </blockquote>
	     </div>
	<% end %>
    </div>
  </div>
</section>
