<section id="content" class="gallery">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2 style="font-size: 2em;">Услуги</h2>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_haircut_path %>"><img src="<%= image_url 'haircut.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Стрижки</div>
			<p>Даный раздел содержит прейскурант цен на мужские и женские стрижки</p>
            <a href="<%= service_haircut_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_haircare_path %>"><img src="<%= image_url 'hair_care.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
          <div class="box_bot_title">Уход за волосами</div>
			<p>Даный раздел содержит прейскурант цен на уход за волосами (мытье волос (шампунь + бальзам) и интенсивный уход различными средствами)</p>
            <a href="<%= service_haircare_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_hairstyling_path %>"><img src="<%= image_url 'hair_styling.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Укладка волос</div>
			<p>Даный раздел содержит прейскурант цен на укладку волос (сушка феном после окраски и других процедур, укладка феном с препаратами, локоны (щипцы, утюги или бигуди), прическа праздничная, плетение кос, украшения для волос)</p>
            <a href="<%= service_hairstyling_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_chemicalperm_path %>"><img src="<%= image_url 'chemical_perm.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Хим. завивка и долговременная укладка</div>
			<p>Даный раздел содержит прейскурант цен на химическую завивку и долговременную укладку для волос различной длины</p>
            <a href="<%= service_chemicalperm_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_haircoloring_path %>"><img src="<%= image_url 'hair_coloring.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Окрашивание волос</div>
			<p>Даный раздел содержит прейскурант цен на окрашивание волос (окрашивание одним цветом, простое колорирование, колорирование, экспертное окрашивание, мелирование волос, депигментирование)</p>
            <a href="<%= service_haircoloring_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_affro_path %>"><img src="<%= image_url 'affro.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Афропрически</div>
			<p>Даный раздел содержит прейскурант цен на афропрически (классические афропрически, афропрически быстрого плетения, афропрически через брейды (с выпуском))</p>
            <a href="<%= service_affro_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_hairextension_path %>"><img src="<%= image_url 'hair_extension.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Наращивание волос</div>
			<p>Даный раздел содержит прейскурант цен на наращивание волос</p>
            <a href="<%= service_hairextension_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="box">
          <a href="<%= service_manicure_path %>"><img src="<%= image_url 'manicure.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Ногтевой сервис</div>
			<p>Даный раздел содержит прейскурант цен на услуги ногтевого сервиса (моделирование и дизайн ногтей, долговременное покрытие ногтей, маникюрные услуги, педикюрные услуги)</p>
            <a href="<%= service_manicure_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
	  <div class="grid_4">
        <div class="box">
          <a href="<%= service_makeup_path %>"><img src="<%= image_url 'makeup.jpg' %>" alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Макияж</div>
			<p>Даный раздел содержит прейскурант цен на окрашивание и оформление бровей и ресниц, макияж</p>
            <a href="<%= service_makeup_path %>" class="btn">Открыть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
