<% if session[:user_id] %>
	<section id="content">
	  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
	    <div class="row" style="margin-left: 20px; margin-bottom: 20px;">
		<h3 style="font-size: 2em;" align="center">Новости</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Заголовок</th>
		      <th>Описание</th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @news.each do |news| %>
		      <tr>
			<td><%= news.title %></td>
			<td><%= news.description %></td>
			<td><%= link_to 'Удалить', news, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить эту запись?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br>

		<a href="<%= new_news_path %>" class="btn">Добавить новость</a>
	    </div>
	  </div>
	</section>
<% else %>
	<section id="content">
	  <% i = 0 %>
	  <% @news.each do |news| %>
	  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
	    <% if i > 0 %>
	    	<div class="sep-1"></div>
	    <% end %>
	    <div class="row" style="margin-bottom: 20px;">
	      <div class="grid_7">
		<h3 style="font-size: 2em;" align="center"></h3>
			<time class="time-1"><%= news.title %></time><br clear="all"><p class="offset__2"><%= news.description %></p>
			<br clear="all">
		<% if @news.count == 0 %>
			<time class="time-1">Новостей пока нет!</time><br clear="all"><p class="offset__2">Но не расстраивайтесь, скоро появятся :) </p>
		<% end %>
	      </div>
	      <div class="grid_4">
		<h3 style="font-size: 2em;"></h3>
		<blockquote class="bq_1">
			<img src="<%= image_url news.image_path %>" alt="" class="img_inner fleft" height="200" width="180"><br>	 
		  </blockquote>
	      </div>
	    </div>
	  </div>
	  <% i += 1 %>
	  <% end %>
	</section>
<% end %>
